<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title th:text = "'Заказ ' + ${order.id}"/>
</head>
<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(Orders)}"/>
        <h1>Заказ</h1>
        <form class="order">
            <div>
                <label for="orderId">ID</label>
                <input type="text" class="form-control" readonly id="orderId" th:field="${order.id}" name="id">
            </div>
            <div>
                <label for="orderName">Клиент</label>
                <input type="text" class="form-control" readonly id="orderName" th:field="${order.name}" name="name">
            </div>
            <div>
                <label for="orderPhone">Телефон</label>
                <input type="text" class="form-control" readonly id="orderPhone" th:field="${order.phone}" name="phone">
            </div>
            <div>
                <label for="orderAddress">Адрес доставки</label>
                <input type="text" class="form-control" readonly id="orderAddress" th:field="${order.address}" name="address">
            </div>
        </form>
        <h3 th:if="${order.items.isEmpty()}">Список товаров пуст</h3>
        <table class="table table-bordered" th:if="${!order.items.isEmpty()}">
            <thead>
            <tr class="bg-primary">
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="oi : ${order.items}">
                    <td th:text = "${oi.product.title}"/>
                    <td>
                        <span th:text = "${oi.quantity}"/>
                    </td>
                    <td th:text = "${oi.price}"/>
                </tr>
                <tr>
                    <td>ИТОГО:</td>
                    <td></td>
                    <td th:text="${order.price}"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>