<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Список товаров</title>
</head>
<body>
<div class = "container">
    <div th:replace="~{navigation :: navigation(Products)}" />
    <div class="prodList">
        <h1>Список товаров</h1>
        <h3 th:if="${products.isEmpty()}">Список товаров пуст</h3>
        <table class="table table-bordered" th:if="${!products.isEmpty()}">
            <thead>
            <tr class="bg-primary">
                <td>ID</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Действие</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}">
                <td th:text = "${p.id}"/>
                <td>
                    <a th:text = "${p.title}" th:href="@{'/edit_product/' + ${p.id}}"/>
                </td>
                <td th:text = "${p.price}"/>
                <td>
                    <a class="btn btn-success" th:href="@{'/cart/add/' + ${p.id}}">В корзину</a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" th:if="${!products.isEmpty()}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/products?p=' + ${products.previousOrFirstPageable().getPageNumber() + 1} + ${filterDefinition}}">Назад</a>
                </li>
                <li class="page-item" th:classappend="${products.getNumber() + 1 == i ? 'active' :''}"
                    th:each = "i : ${#numbers.sequence(products.getNumber()-1<1?1:products.getNumber()-1, products.getNumber()+3>products.getTotalPages()?products.getTotalPages():products.getNumber()+3)}">
                        <a class="page-link" th:text="${i}" th:href="@{'/products?p=' + ${i} + ${filterDefinition}}"></a>
                </li>
                <li class="page-item" th:classappend="${products.isLast() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/products?p=' + ${products.nextOrLastPageable().getPageNumber() + 1} + ${filterDefinition}}">Вперед</a>
                </li>
            </ul>
        </nav>
    </div>
    <form method="GET" th:action="@{/products}">
        <div class="filter form-row align-items-center" >
            <div class="col-auto">
                <label for="titlePart" class="sr-only">Название</label>
                <input th:value="${param.titlePart != null? param.titlePart : null}" name="titlePart" id="titlePart" type="text" class="form-control mb-2"  placeholder="Название">
            </div>
            <div class="col-auto">
                <label for="minPriceInput" class="sr-only">Цена От</label>
                <input th:value="${param.minPrice != null? param.minPrice : null}" name="minPrice" id="minPriceInput" type="number" class="form-control mb-2"  placeholder="Цена От">
            </div>
            <div class="col-auto">
                <label for="maxPriceInput" class="sr-only">Цена До</label>
                <input th:value="${param.maxPrice != null? param.maxPrice : null}" name="maxPrice"  id="maxPriceInput" type="number" class="form-control mb-2"  placeholder="Цена До">
            </div>
           <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
           </div>
            <div class="col-auto">
                <a th:href="@{/products}" class="btn btn-primary mb-2">Очистить</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>